exportPattern("^[[:alpha:]]+")
useDynLib(model7, .registration = TRUE)
useDynLib(model7_eth, .registration = TRUE)
useDynLib(model7_mwi, .registration = TRUE)
useDynLib(model7_rwa, .registration = TRUE)
useDynLib(model7_zwe, .registration = TRUE)
useDynLib(model7_ssd_caf, .registration = TRUE)
